.venv/
.vscode/
Code/__pycache__
Sources/
*.npz
!*_n.npz
Models/
*.pyc
Latex/*
!Latex/*.tex
!Latex/*.bib
!Latex/*.pdf
!Latex/*.png
!Latex/arch/
*.h5
!*_n.h5
*.zip
Logs/
!Data/Backups/
!Data/Backups/*
!Data/Backups/*.npz
