attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
cmasher==1.9.2
colorspacious==1.1.2
contourpy==1.3.2
cycler==0.12.1
filelock==3.25.0
fonttools==4.61.1
h5py==3.16.0
hdf5plugin==6.0.0
idna==3.11
ImageIO==2.37.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lazy-loader==0.5
markdown-it-py==4.0.0
matplotlib==3.10.8
mdurl==0.1.2
msgpack==1.1.2
networkx==3.4.2
numpy==2.2.6
packaging==26.0
pillow==12.1.1
protobuf==7.34.0
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
ray==2.46.0
referencing==0.37.0
requests==2.32.5
rich==14.3.3
rpds-py==0.30.0
scikit-image==0.25.2
scipy==1.15.3
six==1.17.0
tifffile==2025.5.10
typing_extensions==4.15.0
urllib3==2.6.3
